body {
    font-family: 'Work Sans', sans-serif;
}

/* shared style */
.primary_color {
    color: #FF42A5;
}

.para_primary_color {
    color: #534C64;
}

.section_title_color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn_priamry {
    border-radius: 48px;
    background: #FF42A5;
    font-size: 1.4rem;
    color: #FFF;
    cursor: pointer;
    padding: 21px 40px;
    margin: 20px 0;
    border: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar start */
.navbar {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 10px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 20px;
}

.logo a img {
    width: 80px;
}

.logo h2 {
    font-size: 2.8rem;
}

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    margin-right: 30px;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: #3C354F;
}

.contact {
    padding: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.contact img {
    margin: 0 10px;
}

/* navbar end */
/* banner start */
.banner_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_content {
    width: 900px;
    padding: 51px 70px;
    background-image: url("Group\ 14.png");
}

.banner_title {
    font-size: 3rem;
    color: #0B0223;
    text-transform: uppercase;
}

.goat {
    font-size: 6rem;
}

.banner_desc {
    padding: 10px 0;
    font-size: 1.4rem;
    text-align: left;
}

#second_btn {
    background-color: #4EC5F7;
    margin: 0 10px;
}

.banner_img img {
    width: 100%;
}

/* banner end */
/* gamer start */
main {
    margin: 20px;
}

.gamer {
    display: flex;

}

.gamer_content {
    text-align: right;
}

.gamer_content h3 {
    font-size: 3rem;
}

.gamer_content p {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.9rem;
}

.gamer_content .purpose {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: right;
}

.gamer_content h4 {
    font-size: 2rem;
    color: #534C64;
}

/* gamer end */
/* funny img container start */
section {
    padding: 50px 20px;
}

.funny_content {
    padding: 20px;
    text-align: center;
}

.funny_content h3 {
    font-size: 3rem;
}

.funny_content p {
    font-size: 1.2rem;
    padding: 5px;
}

.funny_img_wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.funny_img_container p {
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: #534C64;
}

.funny_img_container {
    transition: 1s;
}

.funny_img_container:hover {
    transform: scale(1.1);
    z-index: 1;
}

/* funny img container end */
/* downloads start */
.downloads_container {
    margin-top: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.download_title {
    margin-bottom: 220px;
    margin-right: 50px;
    text-align: center;
    margin-left: 200px;
}

.download_title h3 {
    padding-top: 0;
    font-size: 3rem;
    line-height: 3.5rem;
}

.download_title p {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.download_image img {
    margin-left: 50px;
}

.badge_container {
    position: relative;
    bottom: 300px;
    right: 200px;
}

/* downloads end */
/* downloads 2 start */
.downloads_container2 {
    padding-top: 0;
    display: flex;
    justify-content: space-between;

}
.downloads_img_container2 img {
    height: 100%;
    
    
}
.play_images{
    position: relative;
}

.image_badge{
    width: 200px;
    position: absolute;
    left: 600px;
    top: 350px;
}

.downloads_content2 {
    margin-left: 100px;
    margin-top: 200px;
    text-align: left;

}

.downloads_content2 h2 {
    width: 464px;
    font-size: 3rem;
    line-height: 3.8rem;

}

.downloads_content2 p {
    width: 480px;
    font-size: 1.2rem;
    line-height: 1.9rem;
    text-align: left;

}

/* downloads 2 end */
/* btn strat */
.button_container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 80px 136px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 50px;
}

.button_container img {
    width: 2.4rem;
    margin-right: 10px;
}

.button_container .all {
    margin-right: 5px;
    font-size: 1rem;
    border: 0;
    border-radius: 50px;
    background: #FFF;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: .4s ease;
    box-shadow: 2px 2px 4px #312c2f;

}

.button_container button:hover {
    background-color: #FFFFFF;
    color: #FF42A5;
    transform: scale(1.2);
}

/* btn end*/
/* footer start */
footer {
    background: #0B0223;
    padding: 100px 0;
}

.footer_container {
    text-align: center;
}

.footer_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_title h3 {
    margin-right: 30px;
    color: #FFF;
    font-size: 2.8rem;
}

.footer_menu ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_menu li {
    list-style: none;
    margin: 40px;
}

.footer_menu li a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.2rem;
}

.privacy ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacy ul li {
    list-style: none;
    margin: 20px;
}

.privacy li a ,p{
    margin: 20px 0;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}


/* footer end */








